.faq-container {
    margin-top: 30px;
    text-align:start;
    margin-left: 50px;
  }
  .asked
  {
    margin-top:-630px;
    margin-left:-920px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
  }
  .faq-list {
   
    display: flex;
    flex-direction: column;
    
  }
  
  .faq-box {
    width: 1400px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .faq-box:hover {
    background-color: #f0f0f0;
  }
  
  .question {
    font-size: 20px;
    font-weight: bold;
    
  }
  
  .answer {
    margin-top: 10px;
    display: block;
    font-size: 20px;
    color: #d2bcbc;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .faq-box.open .answer {
    max-height: 200px; 
  }